<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="text-center">
    <h3>Загрузка товара ексель файл</h3>
    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
            <input type="file" name="file">
        <p>
        <label for="file_format_select">Тип файла: </label>
            <select name="file_format" id="file_format_select">
                <optgroup label="Формат">
                    <option value="xls" class="option" name="format">xls</option>
                    <option value="xlsx" class="option" name="format">xlsx</option>
                    <option value="json" class="option" name="format">json</option>
                </optgroup>
            </select>
        </p>
        <button type="submit" class="btn btn-primary">Загрузить файл</button>
    </div>
    </form>
</div>
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<table border="1">
    <thead>
            <tr>
                <th>Название</th>
                <th>Ссылка</th>
                <th>Цена</th>
                <th>Величина</th>
                <th>Категория</th>
                <th>Подкатегория</th>
            </tr>
        </thead>
    <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.offer_title }}</td>
                <td>{{ offer.slug }}</td>
                <td>{{ offer.offer_price }}</td>
                <td>{{ offer.dimension }}</td>
                <td>{{ offer.offer_tag }}</td>
                <td>{% for title in offer.offer_sub_tag.all %}
                    {{ title }},
                    {% endfor %}
                    </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>